<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ msg }} Page</h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    components: {

    },
    mixins: [],
    props: {
      msg:String
    },
    data: function () {
      return {
        message:"<%= data.name %>"
      }
    },
    computed: {

    },
    watch: {

    },
    created() {

    },
    mounted() {

    },
    methods: {

    }
  }
</script>

<style scoped>
  .<%= data.lowerName %> {}
</style>
